.message{
  position:sticky;
  top: 0;
  max-width: fit-content;
  margin: 0 auto;
  background-color: antiquewhite;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  z-index: 50;
}

.top-link-icons{
    transition: all 0.3 ease;
    transform:scale(1);
    padding: 0 5px;
}

.top-link-icons:hover{
    background-color: skyblue;
    border-radius:5px;
    color: red;
    transform:scale(1.2)
}

.nav-menu .active{
    border-top: 2px solid;
    color: blue;
    padding: 0 2px;
}

.hero-container{
  background: radial-gradient(circle at bottom right, #49d8f1e3, transparent);
}

/* Style text inputs */
.input-form-login{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.hero-banner-image {
  width: 450px;
  height: 450px;
}

.cart-wrapper{
  display: none;
  width: 100vw;
  background:rgba(0, 0, 0, 0.5);
  position:fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}
.cart .active{
  display:inline-block;

}
.cart-container{
  height: 100vh;
  width: 40%;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}

.cart-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 1rem;
  margin-left: 14px;
  border: none;
  background-color: transparent;
}

.category .slide{
  margin-bottom:4rem;
}

.swiper-pagination-bullet-active{
  background-color: bisque;
}

@media screen and (max-width: 800px){
  .hero-banner-image{
    width: 60%;
    height: 60%;
  }
}